html {
    height: 100%;

    body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: url(coffee-machine.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        display: flex;
        height: 100%;

        .coffee-logo {
            display: block;
            width: 40%;
            margin: auto;
        }
    
        form {
            max-width: 400px;
            background-color: rgb(141, 122, 122, 0.8);
            border-radius: 25px;
            margin: auto;
    
            .container {
                padding: 0 30px 30px;

                input[type=text], 
                input[type=password] {
                    background-color: transparent;
                    border: 0;
                    border-bottom: 1px solid rgb(50, 50, 50);
                    box-sizing: border-box;
                    color: rgb(50, 50, 50);
                    font-size: 16px;
                    font-weight: 600;
                    text-align: center;
                    padding: 10px 0;
                    margin: 5px 0;
                    width: 100%;

                    &:focus-visible {
                        outline: none;
                    }

                    &::placeholder {
                        color: #555;
                    }
                }
        
                button {
                    color: rgb(204, 138, 97);
                    background-color: rgb(50, 50, 50);
                    font-size: 16px;
                    font-weight: 600;
                    text-transform: uppercase;
                    border: none;
                    border-radius: 25px;
                    cursor: pointer;
                    padding: 15px;
                    margin-top: 25px;
                    width: 100%;
        
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}